body
{
  background-color: white;
}

header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid blue;
  height: 200px;

}

#main_logo
{
  width: 160px;
  height: 90px;
  border: 3px solid green;
}

nav ul
{
  border: 3px solid green;
  list-style-type: none;
  display: flex;
}

nav li
{
  margin-right: 15px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

.slider
{
  height: 500px;
  border: 3px solid pink;
  background-image: url("img/slider_exemple.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main_section
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.produits
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px solid yellow;
  margin-top: 10%;
  margin-bottom: 10%;
  justify-content: space-around;
  align-content: space-around;

}

.produit
{
  width: 250px;
  height: 245px;
  margin: 20px 20px 20px 20px;
  border: 2px solid grey;
}

footer
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  background-color: grey;
  height: 200px;
}

.footer_widget
{
  width: 250px;
  height: 150px;
  border: 3px solid black;
}

.produits
{
  height: 1000px;
}
