body
{
  background-color: white;
  margin: 0;
  padding: 0;
}


header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 6px solid pink;

}

#main_logo
{
  width: 160px;
  height: 90px;
/*  border: 3px solid green;*/
}

nav ul
{
/*  border: 3px solid green;*/
  list-style-type: none;
  display: flex;
}

nav li
{
  margin-right: 15px;

}

nav a
{
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color: rgba(0,0,0,0.5);
}

nav a:hover
{
  color: #FFB6C1;
}


.slider
{
  height: 500px;
  border-bottom: 3px solid pink;
  background-image: url("img/slider_exemple.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider a
{
text-decoration: none;
color: white;
background-color: rgba(255,192,203,0.5);
border: 1px solid white;
padding: 10px 10px 10px 10px;
font-family: 'Poppins';
font-weight: 100;
}


.main_section
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.produits
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px solid yellow;
  margin-top: 10%;
  margin-bottom: 10%;
  justify-content: space-around;
  align-content: space-around;

}

.produit
{
  width: 250px;
  height: 245px;
  margin: 20px 20px 20px 20px;
  border: 2px solid grey;
}

footer
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  background-color: grey;
  height: 200px;
}

.footer_widget
{
  width: 250px;
  height: 150px;
  border: 3px solid black;
}

.produits
{
  height: 1000px;
}


/*log in page styling*/
